@import "animations.css";

html {
  background-color: #1c252f;
  background-image: url('../media/pattern.png');
  background-blend-mode: difference;
}

body{
  margin:0 auto;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.lander {
  background-image: url('https://images.pexels.com/photos/1370538/pexels-photo-1370538.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  background-color: #585858;
  background-blend-mode: overlay;
  padding-bottom: 12em;
  position: relative;
}

.lander > #scrollIndicator {
  position: absolute;
  width: 100%;
  bottom: 10px;
  color: #c7c7c7;
  font-size: 1.2em;
  text-align: center;
  left: 0;
  animation: fadeIn;
  animation-duration: 4s;
}

button {
  border: none;
  padding: 1.2em;
  width: 10em;
  border-radius: 2px;
  font-size: 1em;
  background-color: rgba(37,37,37,0.81);
  color: #f3f3f3;
  font-family: 'Share Tech Mono', monospace;
  animation: fadeInDown;
  animation-duration: 2s;
  -webkit-transition: background-color 0.8s; /* Safari */
  transition: background-color 0.8s;
}

button:hover {
  background-color: #ce3f3f;
}

.web {
  display: block;
}


.brandName {
  margin: 10% auto;
  text-align: center;
  margin-bottom: 5em;
  animation: fadeIn;
  animation-duration: 2s;
}

.brandLogo {
  height: 8em;
  height: calc(8vw + 4vh + 2vmin);
}

.brandDescription {
  color: #fefefe;
  font-size: 2em;
  text-align: center;
  line-height: 16px;
  letter-spacing: 8px;
}

.brandDescription h1 {
  font-family: 'BebasNeueRegular';
  animation: fadeInDown;
  animation-duration: 1s;
  font-size: 1.5em;
}

.brandDescription > .subtext {
  font-size: 0.6em;
  color: #c1c1c1;
  max-width: 800px;
  font-family: 'Fjalla One';
  width: 70%;
  margin: 2% auto;
  text-align: center;
  letter-spacing: initial;
  line-height: 28px;
  animation: fadeIn;
  animation-duration: 2s;
}

.brandDescription > .subtext > strong {
  text-transform: uppercase;
  color: #ffd800;
}

.date {
  font-size: 0.4em;
  font-family: 'Share Tech Mono', monospace;
  animation: fadeInDown;
  animation-duration: 2s;
}

.socialButtons {
  margin-top: 3%;
  text-align: center;
}

.footnote {
  color: #2b2b2b;
  font-size: 10px;
  text-align: center;
  position: relative;
  margin-top: 15%;
  padding-bottom: 10px;
  opacity: 0.6;
  font-family: 'Share Tech Mono', monospace;
}

.footnote > a {
  text-decoration: underline;
  color: inherit;
}

.mobile {
  display: none;
}

.sectionHeader {
  font-family: 'BebasNeueRegular';
  animation: fadeInDown;
  animation-duration: 1s;
  font-size: 1.5em;
  border-bottom: solid 1px;
  color: #fefefe;
  width: 80%;
  margin: auto;
}

.soundCloud {
  width: 80%;
  margin-left: 10%;
  margin: 5% auto;
  /*display: flex;*/
  flex-direction: row;
  animation: fadeInUp;
  animation-delay: 900;
  animation-duration: 1s;
}

.musicTile {
  margin-right: 10px;
  width: 40%;
  height: 40%;
  max-width: 200px;
  max-height: 200px;
}

.musicTile-soundcloud {
  margin-right: 10px;
  width: 30%;
  height: 50%;
  max-width: 250px;
  max-height: 500px;
}

.newsSection {
  width: 80%;
  margin: 1% auto;
  color: #a29e9e;
  font-size: 0.8em;
  font-family: 'Share Tech Mono', monospace;
  animation: fadeInUp;
  animation-delay: 900;
  animation-duration: 1s;
}

.newsSection > ul > li {
  margin-bottom: 4px;
}

.newsSection > ul {
  list-style: none;
  margin-left: -2.4em;
}

.newsSection > ul > li::before {
  content: '-';
  margin-right: 10px;
}

li > .specialDate {
  background: black;
}


@media
only screen and (max-device-width: 420px){
  /* For mobile phones: */
  .web {
    display: block;
  }
  .brandLogo {
    height: 8em;
    height: calc(14vw + 4vh + 2vmin);
  }

  button {
    font-size: 1.5em;
  }

  .brandDescription > .subtext {
    font-size: 40px;
    line-height: 70px;
  }

  .sectionHeader {
    font-size: 50px;
    margin: 5% auto;
  }

  .newsSection {
    font-size: 3em;
  }

  .newsSection > ul {
    margin-left: -1.4em;
  }

  .musicTile-soundcloud {
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
  }
}
