

.news-list {
  &-item {
    color: white;
    width: 96%;
    margin: 2% auto;
    padding-bottom: 12px;
    border-bottom: solid 0.2px #ffffffed;
    font-family: 'Share Tech Mono', monospace;

    &-title {
      margin-bottom: 12px;
    }

    &-subtitle {
      margin-bottom: 12px;
      font-size: 14px;
      opacity: 0.8;
      color: antiquewhite;
    }

    &-date {
      width: 100%;
      font-style: italic;
      font-size: 14px;
      opacity: 0.4;
    }
  }
}