.section {
  &-container {
    width: 80%;
    margin: 0 auto;
  }

  &-content {
    margin: 4% auto;
  }

  &-video {
    display: flex;
    justify-content: center;

    iframe {
      width: 68em;
      height: calc(68em / 1.77);
    }
  }
}