.App {
  height: 100%;
  width: 100%;
}


.markdown {
  &-bold {
    font-weight: bold;
  }

  &-underline {
    text-decoration: underline;
  }

  &-italics {
    font-style: italic;
  }

  &-strong {
    text-transform: uppercase;
    font-weight: bold;
    color: wheat;
  }
}
