.content-group {
  &-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    @media(max-width: 500px) {
      justify-content: center;
    }
  }

  &-item {
    @media(max-width: 500px) {
      margin: 15px 0;
    }
  }
}