$dark-overlay: #313131;
$gold-overlay: #312c21;

.banner {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $gold-overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url('./../../assets/background.jpeg');
  }

  &-image {
    margin: 0 10% auto;
    text-align: center;
    margin-bottom: 4em;
    animation: fadeIn;
    animation-duration: 2s;

    &-logo {
      height: 8em;
      height: calc(8vw + 4vh + 2vmin);
    }
  }

  &-text {
    color: #fefefe;
    font-size: 2em;
    text-align: center;
    line-height: 16px;
    letter-spacing: 8px;
  }

  &-title {
    font-family: 'BebasNeueRegular';
    line-height: 1.1;
    animation: fadeInDown;
    animation-duration: 1s;
    font-size: 1.5em;
  }

  &-subtitle {
    font-size: 0.6em;
    color: #c1c1c1;
    max-width: 800px;
    font-family: 'Fjalla One';
    width: 70%;
    margin: 2% auto;
    text-align: center;
    letter-spacing: initial;
    line-height: 28px;
    animation: fadeIn;
    animation-duration: 2s;
  }

  &-social-links {
    display: flex;
    justify-content: space-between;
  }

  &-social-button {
    font-size: 2.5em;
    background: none;
    border: none;
    color: wheat;

    &:hover {
      color: orange;
    }
  }
}